# Nuxt 开发与构建输出
.nuxt
.output
.nitro
.cache
dist

# 依赖
node_modules

# 日志
logs
*.log
npm-debug.log*

# 环境变量
.env
.env.*
!.env.example

# 编辑器
.vscode
.idea
.DS_Store

# 数据库
prisma/*.db
prisma/*.db-journal
